#menu{
    height: 70px;
    background: #EEEBE8;
    border-top: #bfbfbf 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_box{
    height: 50px;
    width: 48px;
}

.menu_icon{
    height: 30px;
    width: 30px;
    background-size: cover;
    margin-left: 10px;
}

.menu_title{
    height: 20px;
    width: 48px;
    color:#2c2c2c;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}